@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  
  --color-primary: #FFD700;
  --color-primary-light: #FFED4E;
  --color-primary-dark: #FFA500;
  
  --color-gray-dark: #1a1a1a;
  --color-gray-medium: #2d2d2d;
  --color-gray-text: #B0B0B0;
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
